
.App {
  /* background-color: #F6F2F7; */
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: large;
}

.navbar {
  background-color: transparent;
  font-size: 22px;
  padding-top: 30px;
  margin-right: 10%;
}

.navbar-brand {
  color: #3A7E47 !important;
  font-size: 28px;
  text-decoration: none !important;
  margin-left: 10%;
}

.navbar-light .navbar-nav .nav-link {
  color: #3A7E47 !important;
  padding: 20px !important;
  text-decoration: none !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #A26769 !important;
}

.navbar-light .navbar-nav .nav-item:last-child .nav-link {
  margin-right: 0; 
}

.navbar-light .navbar-nav .nav-item {
  margin-right: 20px;
}

.about-section {
  margin-bottom: 30px;
}

.experiences {
  margin-bottom: 30px;
}

.about-section {
  margin-top: 5%;
  text-align: center;
}

.image{
  max-width: 100%;
  height: auto;
  align-self: center;
}

.profile-picture {
  margin-top: 50px;
}

.ml-auto {
  float: right;
}

.container {
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
 }
 
 .text {
   font-size: 50px;
   text-align: center;
 } 

.timeline-section {
  padding-top: 10px;
}

.timeline {
  position: relative;
}

.experience {
  padding: 20px;
  margin-bottom: 60%;
  position: relative;
  border-left: 4px solid #385F71; /* Add left border */
}

.experience-last {
  padding: 20px;
  position: relative;
  margin-bottom: 5%;
  border-left: 4px solid #385F71; /* Add left border */
}

.right-side {
  margin-top: 20%;
}

.experiences-text {
  text-align: center;
  margin-top: 50px;
  color: #052F5F;
}

.projects-text {
  text-align: center;
  margin-top: 50px;
  color: #FA6168
}

.projects-section {
  padding-top: 20px;
  padding-bottom: 5%
}

.project {
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.project img {
  max-width: 100%;
  height: auto;
}

.project h3 {
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 0;
}

.prl-title {
  max-width: 100%;
  border-width: 5px;
  border-color: black;
}

.payback-vid {
  max-width: 100%;
}

.lilypad-vid {
  max-height: 500px;
  max-width: 100%;
  align-self: center;
}

.lilypad-vid-container {
  align-items: center;
}

.project-row {
  margin-top: 5%;
  align-items: center;
}

.divider {
  width: 30%;
  border: dotted
}

a {
  text-decoration: none; /* Removes underline */
  color: #D17B88;
  /* color: #5899E2; */
}

a:hover {
  text-decoration: none; /* Ensures no underline on hover */
  color: #B2060E;
}

h3 {
  color: #445E93;
}

h4 {
  color: #5899E2;
}

.social-icons-container {
  display: flex;
  justify-content: center;
  gap: 5%; /* Adjust as needed */
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #D4D9D7;
}

.social-icons-container a {
  color: #000; /* Adjust color as needed */
}

.social-icons-container a:hover {
  color: #007bff; /* Adjust hover color as needed */
}
